

<h1>Cambio Comision Revisora Registros</h1>

<table>
  <thead>
    <tr>
      <th>Presidente</th>
      <th>Secretario</th>
      <th>Primer vocal</th>
      <th>Segundo vocal</th>
      <th>Tercer vocal</th>
      <th>Suplente</th>
      <th>Caso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cambio_comision_revisora_registros.each do |cambio_comision_revisora_registro| %>
      <tr>
        <td><%= cambio_comision_revisora_registro.presidente %></td>
        <td><%= cambio_comision_revisora_registro.secretario %></td>
        <td><%= cambio_comision_revisora_registro.primer_vocal %></td>
        <td><%= cambio_comision_revisora_registro.segundo_vocal %></td>
        <td><%= cambio_comision_revisora_registro.tercer_vocal %></td>
        <td><%= cambio_comision_revisora_registro.suplente %></td>
        <td><%= cambio_comision_revisora_registro.caso_id %></td>
        <td><%= link_to 'Mostrar', cambio_comision_revisora_registro %></td>
        <td><%= link_to 'Editar', edit_cambio_comision_revisora_registro_path(cambio_comision_revisora_registro) %></td>
        <td><%= link_to 'Eliminar', cambio_comision_revisora_registro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cambio Comision Revisora Registro', new_cambio_comision_revisora_registro_path %>
