<p id="notice"><%= notice %></p>

<p>
  <strong>Presidente:</strong>
  <%= @cambio_comision_revisora_registro.presidente %>
</p>

<p>
  <strong>Secretario:</strong>
  <%= @cambio_comision_revisora_registro.secretario %>
</p>

<p>
  <strong>Primer vocal:</strong>
  <%= @cambio_comision_revisora_registro.primer_vocal %>
</p>

<p>
  <strong>Segundo vocal:</strong>
  <%= @cambio_comision_revisora_registro.segundo_vocal %>
</p>

<p>
  <strong>Tercer vocal:</strong>
  <%= @cambio_comision_revisora_registro.tercer_vocal %>
</p>

<p>
  <strong>Suplente:</strong>
  <%= @cambio_comision_revisora_registro.suplente %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @cambio_comision_revisora_registro.caso_id %>
</p>

<%= link_to 'Edit', edit_cambio_comision_revisora_registro_path(@cambio_comision_revisora_registro) %> |
<%= link_to 'Back', cambio_comision_revisora_registros_path %>
