<%= form_with(model: revocacion_baja_registro, local: true) do |form| %>
  <% if revocacion_baja_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(revocacion_baja_registro.errors.count, "error") %> prohibited this revocacion_baja_registro from being saved:</h2>

      <ul>
        <% revocacion_baja_registro.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :motivacion %>
    <%= form.text_area :motivacion %>
  </div>

  <div class="field">
    <%= form.label :caso_id %>
    <%= form.text_field :caso_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
