<p id="notice"><%= notice %></p>

<h1>Revocacion Baja Registros</h1>

<table>
  <thead>
    <tr>
      <th>Motivacion</th>
      <th>Caso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revocacion_baja_registros.each do |revocacion_baja_registro| %>
      <tr>
        <td><%= revocacion_baja_registro.motivacion %></td>
        <td><%= revocacion_baja_registro.caso_id %></td>
        <td><%= link_to 'Mostrar', revocacion_baja_registro %></td>
        <td><%= link_to 'Editar', edit_revocacion_baja_registro_path(revocacion_baja_registro) %></td>
        <td><%= link_to 'Eliminar', revocacion_baja_registro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Revocacion Baja Registro', new_revocacion_baja_registro_path %>
