

<p>
  <strong>Boleta:</strong>
  <%= @alumno.boleta %>
</p>

<p>
  <strong>Cvu:</strong>
  <%= @alumno.cvu %>
</p>

<p>
  <strong>User:</strong>
  <%= @alumno.user_id %>
</p>

<%= link_to 'Editar', edit_alumno_path(@alumno) %> |
<%= link_to 'Regresar', alumnos_path %>
