<p id="notice"><%= notice %></p>

<p>
  <strong>Motivacion:</strong>
  <%= @baja_temporal_registro.motivacion %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @baja_temporal_registro.caso_id %>
</p>

<%= link_to 'Editar', edit_baja_temporal_registro_path(@baja_temporal_registro) %> |
<%= link_to 'Regresar', baja_temporal_registros_path %>
