

<h1>Cambio Comite Tutorial Registros</h1>

<table>
  <thead>
    <tr>
      <th>Primer tutor</th>
      <th>Segundo tutor</th>
      <th>Tercer tutor</th>
      <th>Cuarto tutor</th>
      <th>Quinto tutor</th>
      <th>Caso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cambio_comite_tutorial_registros.each do |cambio_comite_tutorial_registro| %>
      <tr>
        <td><%= cambio_comite_tutorial_registro.primer_tutor %></td>
        <td><%= cambio_comite_tutorial_registro.segundo_tutor %></td>
        <td><%= cambio_comite_tutorial_registro.tercer_tutor %></td>
        <td><%= cambio_comite_tutorial_registro.cuarto_tutor %></td>
        <td><%= cambio_comite_tutorial_registro.quinto_tutor %></td>
        <td><%= cambio_comite_tutorial_registro.caso_id %></td>
        <td><%= link_to 'Mostrar', cambio_comite_tutorial_registro %></td>
        <td><%= link_to 'Editar', edit_cambio_comite_tutorial_registro_path(cambio_comite_tutorial_registro) %></td>
        <td><%= link_to 'Eliminar', cambio_comite_tutorial_registro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cambio Comite Tutorial Registro', new_cambio_comite_tutorial_registro_path %>
