

<p>
  <strong>Primer tutor:</strong>
  <%= @cambio_comite_tutorial_registro.primer_tutor %>
</p>

<p>
  <strong>Segundo tutor:</strong>
  <%= @cambio_comite_tutorial_registro.segundo_tutor %>
</p>

<p>
  <strong>Tercer tutor:</strong>
  <%= @cambio_comite_tutorial_registro.tercer_tutor %>
</p>

<p>
  <strong>Cuarto tutor:</strong>
  <%= @cambio_comite_tutorial_registro.cuarto_tutor %>
</p>

<p>
  <strong>Quinto tutor:</strong>
  <%= @cambio_comite_tutorial_registro.quinto_tutor %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @cambio_comite_tutorial_registro.caso_id %>
</p>

<%= link_to 'Editar', edit_cambio_comite_tutorial_registro_path(@cambio_comite_tutorial_registro) %> |
<%= link_to 'Regresar', cambio_comite_tutorial_registros_path %>
