<p id="notice"><%= notice %></p>

<h1>Tema Tesis Registros</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tema_tesis_registros.each do |tema_tesis_registro| %>
      <tr>
        <td><%= tema_tesis_registro.nombre %></td>
        <td><%= link_to 'Mostrar', tema_tesis_registro %></td>
        <td><%= link_to 'Editar', edit_tema_tesis_registro_path(tema_tesis_registro) %></td>
        <td><%= link_to 'Eliminar', tema_tesis_registro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tema Tesis Registro', new_tema_tesis_registro_path %>
