<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2>Los siguientes errores no permitieron que este registro se guardara:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-sm-3">
      <%= form.label :nombre, 'Nombre(s)' %>
      <%= form.text_field :nombre, autofocus: true, class:'form-control', required: true %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3">
      <%= form.label :primer_apellido, 'Primer apellido' %>
      <%= form.text_field :primer_apellido, class:'form-control', required: true %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3">
      <%= form.label :segundo_apellido, 'Segundo apellido' %>
      <%= form.text_field :segundo_apellido, class:'form-control', required: true %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3">
      <%= form.label :curp, 'CURP' %>
      <%= form.text_field :curp, class:'form-control', style: 'text-transform:uppercase', maxlength: 18, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3">
      <%= form.label :tipo_usuario_id, 'Tipo de usuario' %>
      <%= collection_select(:user, :tipo_usuario_id, TipoUsuario.all, :id, :nombre, {prompt: 'Seleccione'}, class: 'form-control') %>
    </div>
  </div>

  <div class="row">
    <div class="actions col-sm-4">
      <%= form.submit "Enviar", class: "btn btn-md btn-primary" %>
    </div>
  </div>
<% end %>
