<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @user.primer_apellido %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @user.segundo_apellido %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @user.curp %>
</p>

<p>
  <strong>Tipo usuario:</strong>
  <%= @user.tipo_usuario_id %>
</p>

<p>
  <strong>Alumno:</strong>
  <%= @user.alumno_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
