<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cambio_tema_tesis_registro.nombre %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @cambio_tema_tesis_registro.caso_id %>
</p>

<%= link_to 'Editar', edit_cambio_tema_tesis_registro_path(@cambio_tema_tesis_registro) %> |
<%= link_to 'Regresar', cambio_tema_tesis_registros_path %>
