<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @recursamiento_otra_unidad_registro.nombre %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @recursamiento_otra_unidad_registro.clave %>
</p>

<p>
  <strong>Creditos:</strong>
  <%= @recursamiento_otra_unidad_registro.creditos %>
</p>

<p>
  <strong>Nombre unidad academica:</strong>
  <%= @recursamiento_otra_unidad_registro.nombre_unidad_academica %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @recursamiento_otra_unidad_registro.caso_id %>
</p>

<%= link_to 'Editar', edit_recursamiento_otra_unidad_registro_path(@recursamiento_otra_unidad_registro) %> |
<%= link_to 'Regresar', recursamiento_otra_unidad_registros_path %>
