<p id="notice"><%= notice %></p>

<h1>Examen Obtencion Grado Registros</h1>

<table>
  <thead>
    <tr>
      <th>Motivacion</th>
      <th>Caso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @examen_obtencion_grado_registros.each do |examen_obtencion_grado_registro| %>
      <tr>
        <td><%= examen_obtencion_grado_registro.motivacion %></td>
        <td><%= examen_obtencion_grado_registro.caso_id %></td>
        <td><%= link_to 'Show', examen_obtencion_grado_registro %></td>
        <td><%= link_to 'Edit', edit_examen_obtencion_grado_registro_path(examen_obtencion_grado_registro) %></td>
        <td><%= link_to 'Destroy', examen_obtencion_grado_registro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Examen Obtencion Grado Registro', new_examen_obtencion_grado_registro_path %>
