<p id="notice"><%= notice %></p>

<h1>Solicitud Abierta Registros</h1>

<table>
  <thead>
    <tr>
      <th>Asunto</th>
      <th>Motivacion</th>
      <th>Caso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitud_abierta_registros.each do |solicitud_abierta_registro| %>
      <tr>
        <td><%= solicitud_abierta_registro.asunto %></td>
        <td><%= solicitud_abierta_registro.motivacion %></td>
        <td><%= solicitud_abierta_registro.caso_id %></td>
        <td><%= link_to 'Mostrar', solicitud_abierta_registro %></td>
        <td><%= link_to 'Editar', edit_solicitud_abierta_registro_path(solicitud_abierta_registro) %></td>
        <td><%= link_to 'Eliminar', solicitud_abierta_registro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Solicitud Abierta Registro', new_solicitud_abierta_registro_path %>
