<%= form_with(model: caso, local: true) do |form| %>
  <% if caso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caso.errors.count, "error") %> prohibited this caso from being saved:</h2>

      <ul>
        <% caso.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-sm-4">
      <%= form.label :tipo_caso_id, 'Tipo de caso' %>
      <%= collection_select(:caso, :tipo_caso_id, TipoCaso.all.order(nombre: :asc), :id, :nombre, {prompt: 'Seleccione'}, class: 'form-control') %>
    </div>
  </div>

  <div class="row resultado"></div>

  <div class="row">
    <div class="actions col-sm-4">
      <%= form.submit "Enviar", class: "btn btn-md btn-primary" %>
    </div>
  </div>

  <script>
    const selectElement = document.querySelector('.form-control');

    selectElement.addEventListener('change', (event) => {
        const resultado = document.querySelector('.resultado');
        if (event.target.value == 1){
          resultado.innerHTML = `<%= j render partial: "casos/director_tesis_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 2){
          resultado.innerHTML = `<%= j render partial: "casos/agregar_asignatura_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 3){
          resultado.innerHTML = `<%= j render partial: "casos/tema_tesis_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 4){
          resultado.innerHTML = `<%= j render partial: "casos/recursamiento_otra_unidad_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 5){
          resultado.innerHTML = `<%= j render partial: "casos/cambio_director_tesis_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 6){
          resultado.innerHTML = `<%= j render partial: "casos/cambio_tema_tesis_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 7){
          resultado.innerHTML = `<%= j render partial: "casos/cursar_unidad_aprendizaje_externa_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 8){
          resultado.innerHTML = `<%= j render partial: "casos/solicitud_programa_movilidad_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 9){
          resultado.innerHTML = `<%= j render partial: "casos/flexibilidad_academica_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 10){
          resultado.innerHTML = `<%= j render partial: "casos/comite_tutorial_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 11){
          resultado.innerHTML = `<%= j render partial: "casos/cambio_comite_tutorial_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 12){
          resultado.innerHTML = `<%= j render partial: "casos/comision_revisora_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 13){
          resultado.innerHTML = `<%= j render partial: "casos/cambio_comision_revisora_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 14){
          resultado.innerHTML = `<%= j render partial: "casos/revocacion_baja_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 15){
          resultado.innerHTML = `<%= j render partial: "casos/segundo_director_tesis_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 16){
          resultado.innerHTML = `<%= j render partial: "casos/solicitud_abierta_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 17){
          resultado.innerHTML = `<%= j render partial: "casos/examen_obtencion_grado_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 18){
          resultado.innerHTML = `<%= j render partial: "casos/baja_temporal_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 19){
          resultado.innerHTML = `<%= j render partial: "casos/ampliacion_semestre_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 20){
          resultado.innerHTML = `<%= j render partial: "casos/cambio_maestria_doctorado_registro", locals:{form: form} %>`;
        }
        else if (event.target.value == 21){
          resultado.innerHTML = `<%= j render partial: "casos/baja_asignatura_registro", locals:{form: form} %>`;
        }
    });
  </script>
<% end %>
