<%= form.fields_for :solicitud_abierta_registros do |solicitud_abierta_registros_form| %>
  <div class="form-group col-sm-3">
    <%= solicitud_abierta_registros_form.label :asunto, 'Escriba por favor el asunto de la petición' %>
    <%= solicitud_abierta_registros_form.text_field :asunto, class: 'form-control' , :required => true%>
  </div>
  <div class="form-group col-sm-10">
    <%= solicitud_abierta_registros_form.label :motivacion, 'Escriba por favor el fundamento o motivacion de la petición' %>
    <%= solicitud_abierta_registros_form.text_area :motivacion, class: 'form-control' , :required => true %>
  </div>
<% end %>
