<h1>Validar casos</h1>
<%= form_tag valida_cuerpo_academico_casos_path, method: :get do %>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <% if policy(@casos).valida_cuerpo_academico? %>
          <th scope="col" class="sort" data-sort="name" rowspan="2"></th>
        <% end %>
        <th scope="col" class="sort" data-sort="name" rowspan="2">Nombre</th>
        <th scope="col" class="sort" data-sort="budget" rowspan="2">Primer<br>apellido</th>
        <th scope="col" class="sort" data-sort="budget" rowspan="2">Segundo<br>apellido</th>
        <th scope="col" class="sort" data-sort="budget" rowspan="2">Boleta</th>
        <th scope="col" class="sort" data-sort="budget" rowspan="2">Tipo<br>de<br>caso</th>
        <th scope="col" class="sort" data-sort="status" colspan="3" style="text-align:center;">Validación</th>
      </tr>
      <tr>
        <th>Cuerpo<br>académico</th>
        <th>Ansuntos<br>escolares</th>
        <th>Colegio<br>de<br>profesores</th>
      </tr>
    </thead>

    <tbody>
      <% @casos.each do |caso| %>
        <tr>
          <% if policy(@casos).valida_cuerpo_academico? %>
            <td><%= check_box_tag "caso_ids[]", caso.id %></td>
          <% end %>
          <td><%= caso.alumno.user.nombre %></td>
          <td><%= caso.alumno.user.primer_apellido %></td>
          <td><%= caso.alumno.user.segundo_apellido %></td>
          <td><%= caso.alumno.boleta %></td>
          <td><%= caso.tipo_caso.nombre %></td>
          <td>
            <span class="badge badge-dot mr-4">
              <% if caso.validacion_cuerpo_academico == false %>
                <div class="btn-warning btn-circle btn-sm" align="center">
                  <i class="fas fa-clock"></i>
                </div>
              <% else %>
                <div class="btn-success btn-circle btn-sm" align="center">
                  <i class="fas fa-check"></i>
                </div>
              <% end %>
            </span>
          </td>
          <td>
            <span class="badge badge-dot mr-4">
              <% if caso.validacion_asuntos_escolares == false %>
                <div class="btn-warning btn-circle btn-sm" align="center">
                  <i class="fas fa-clock"></i>
                </div>
              <% else %>
              <div class="btn-success btn-circle btn-sm" align="center">
                <i class="fas fa-check"></i>
              </div>
              <% end %>
            </span>
          </td>
          <td>
            <span class="badge badge-dot mr-4">
              <% if caso.validacion_colegio_profesores == false %>
                <div class="btn-warning btn-circle btn-sm" align="center">
                  <i class="fas fa-clock"></i>
                </div>
              <% else %>
              <div class="btn-success btn-circle btn-sm" align="center">
                <i class="fas fa-check"></i>
              </div>
              <% end %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if policy(@casos).valida_cuerpo_academico? %>
    <input type="checkbox" id="check_all" value="check_all"><strong> Seleccionar / Deseleccionar todos</strong><br><br>
    <%= submit_tag "validar seleccionados", class: 'btn btn-primary' %>
  <% end %>
<% end %>
<script>
  $('#check_all').on("click", function(){
    var checkboxes = $('input[type="checkbox"]');
    checkboxes.prop("checked", !checkboxes.prop("checked"));
  });
</script>

<br>
