<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @caso.alumno.user.nombre %>
</p>

<p>
  <strong>Tipo caso:</strong>
  <%= @caso.tipo_caso.nombre %>
</p>

<%= link_to 'Editar', edit_caso_path(@caso) %> |
<%= link_to 'Regresar', casos_path %>
