<p id="notice"><%= notice %></p>

<h1>Ampliacion Semestre Registros</h1>

<table>
  <thead>
    <tr>
      <th>Motivacion</th>
      <th>Caso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ampliacion_semestre_registros.each do |ampliacion_semestre_registro| %>
      <tr>
        <td><%= ampliacion_semestre_registro.motivacion %></td>
        <td><%= ampliacion_semestre_registro.caso_id %></td>
        <td><%= link_to 'Mostrar', ampliacion_semestre_registro %></td>
        <td><%= link_to 'Editar', edit_ampliacion_semestre_registro_path(ampliacion_semestre_registro) %></td>
        <td><%= link_to 'Eliminar', ampliacion_semestre_registro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Ampliacion Semestre Registro', new_ampliacion_semestre_registro_path %>
