<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @flexibilidad_academica_registro.nombre %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @flexibilidad_academica_registro.caso_id %>
</p>

<%= link_to 'Editar', edit_flexibilidad_academica_registro_path(@flexibilidad_academica_registro) %> |
<%= link_to 'Regresar', flexibilidad_academica_registros_path %>
