<%= form_with(model: baja_asignatura_registro, local: true) do |form| %>
  <% if baja_asignatura_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(baja_asignatura_registro.errors.count, "error") %> prohibited this baja_asignatura_registro from being saved:</h2>

      <ul>
        <% baja_asignatura_registro.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :asignatura_registro_id %>
    <%= form.text_field :asignatura_registro_id %>
  </div>

  <div class="field">
    <%= form.label :caso_id %>
    <%= form.text_field :caso_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
