

<h1>Baja Asignatura Registros</h1>

<table>
  <thead>
    <tr>
      <th>Asignatura registro</th>
      <th>Caso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baja_asignatura_registros.each do |baja_asignatura_registro| %>
      <tr>
        <td><%= baja_asignatura_registro.asignatura_registro_id %></td>
        <td><%= baja_asignatura_registro.caso_id %></td>
        <td><%= link_to 'Mostrar', baja_asignatura_registro %></td>
        <td><%= link_to 'Editar', edit_baja_asignatura_registro_path(baja_asignatura_registro) %></td>
        <td><%= link_to 'Eliminar', baja_asignatura_registro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Baja Asignatura Registro', new_baja_asignatura_registro_path %>
