<p id="notice"><%= notice %></p>

<p>
  <strong>Asignatura registro:</strong>
  <%= @baja_asignatura_registro.asignatura_registro_id %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @baja_asignatura_registro.caso_id %>
</p>

<%= link_to 'Edit', edit_baja_asignatura_registro_path(@baja_asignatura_registro) %> |
<%= link_to 'Back', baja_asignatura_registros_path %>
