

<h1>Cambio Maestria Doctorado Registros</h1>

<table>
  <thead>
    <tr>
      <th>Motivacion</th>
      <th>Caso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cambio_maestria_doctorado_registros.each do |cambio_maestria_doctorado_registro| %>
      <tr>
        <td><%= cambio_maestria_doctorado_registro.motivacion %></td>
        <td><%= cambio_maestria_doctorado_registro.caso_id %></td>
        <td><%= link_to 'Mostrar', cambio_maestria_doctorado_registro %></td>
        <td><%= link_to 'Editar', edit_cambio_maestria_doctorado_registro_path(cambio_maestria_doctorado_registro) %></td>
        <td><%= link_to 'Eliminar', cambio_maestria_doctorado_registro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cambio Maestria Doctorado Registro', new_cambio_maestria_doctorado_registro_path %>
