<p id="notice"><%= notice %></p>

<p>
  <strong>Motivacion:</strong>
  <%= @cambio_maestria_doctorado_registro.motivacion %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @cambio_maestria_doctorado_registro.caso_id %>
</p>

<%= link_to 'Editar', edit_cambio_maestria_doctorado_registro_path(@cambio_maestria_doctorado_registro) %> |
<%= link_to 'Regresar', cambio_maestria_doctorado_registros_path %>
