<p id="notice"><%= notice %></p>

<h1>Cursar Unidad Aprendizaje Externa Registros</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Clave</th>
      <th>Creditos</th>
      <th>Unidad academica</th>
      <th>Caso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cursar_unidad_aprendizaje_externa_registros.each do |cursar_unidad_aprendizaje_externa_registro| %>
      <tr>
        <td><%= cursar_unidad_aprendizaje_externa_registro.nombre %></td>
        <td><%= cursar_unidad_aprendizaje_externa_registro.clave %></td>
        <td><%= cursar_unidad_aprendizaje_externa_registro.creditos %></td>
        <td><%= cursar_unidad_aprendizaje_externa_registro.unidad_academica %></td>
        <td><%= cursar_unidad_aprendizaje_externa_registro.caso_id %></td>
        <td><%= link_to 'Show', cursar_unidad_aprendizaje_externa_registro %></td>
        <td><%= link_to 'Edit', edit_cursar_unidad_aprendizaje_externa_registro_path(cursar_unidad_aprendizaje_externa_registro) %></td>
        <td><%= link_to 'Destroy', cursar_unidad_aprendizaje_externa_registro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cursar Unidad Aprendizaje Externa Registro', new_cursar_unidad_aprendizaje_externa_registro_path %>
