<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cursar_unidad_aprendizaje_externa_registro.nombre %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @cursar_unidad_aprendizaje_externa_registro.clave %>
</p>

<p>
  <strong>Creditos:</strong>
  <%= @cursar_unidad_aprendizaje_externa_registro.creditos %>
</p>

<p>
  <strong>Unidad academica:</strong>
  <%= @cursar_unidad_aprendizaje_externa_registro.unidad_academica %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @cursar_unidad_aprendizaje_externa_registro.caso_id %>
</p>

<%= link_to 'Editar', edit_cursar_unidad_aprendizaje_externa_registro_path(@cursar_unidad_aprendizaje_externa_registro) %> |
<%= link_to 'Back', cursar_unidad_aprendizaje_externa_registros_path %>
